body {
  margin: 0;
  padding: 0;
}

a {
  margin-left: 1rem;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;

  font-size: 1.3rem;
  height: 3rem;
  background-color: darkcyan;
  & ul {
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: inherit;
  }
  & li {
    margin-right: 1rem;
    list-style: none;
  }
  & a {
    color: aliceblue;
  }
}
.circularSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  background-color: darkcyan;
}
.cardCircular {
  min-width: 60%;
  color: aliceblue;
  background-color: rgb(0, 67, 67);
  & h1 {
    display: flex;
    justify-content: center;
  }
}
